@media screen and (max-width: 600px) {
  .main-container {
    padding: 50px;
  }
}

@media screen and (max-width: 1445px) {
  .blogs-last {
    margin-left: 15px;
    padding: 10px;
    max-width: 30%;
  }
}

@media screen and (max-width: 1250px) {
  .blogs-last {
    padding: 20px;
    max-width: 45%;
  }
  .notice{
    margin: 5px 25px 5px 25px ;
  }
  .blog{
    margin: 25px;
    padding: 15px;
    width: 50%;
  }
  .notice-descripcion , .notice-title{
    margin: 10px;
    letter-spacing: 5px;
  }
  .more{
    display: inline-block;
    margin: 10px;
    letter-spacing: 5px;
    padding: 20px ;
    width: 70%;
  }
  .profile-title {
    word-spacing: 10px;
    font-size: 40px;
    padding: 30px;
    margin: 50px 20px 0px 20px;
  }
  .profile-descripcion {
    
    word-spacing: 10px;
    font-size: 30px;
    padding: 30px;
    margin: 50px 20px 0px 20px;
  }
}



@media screen and (max-width: 980px) {
  .notice-img{
    width: 90%;
    margin-right: 0px; 
    
}
.profile{
  background-color: rgb(216, 212, 206);
  display: flex;
  justify-content: start;
  padding: 0px 20px 0px 20px;
  width: 100%;
  height: 100%;
}

.notice{
  margin: 0px 0px 25px 35px ;
  width: 50%;
}
.proyect{
  margin: auto;
  width: 95%;
}
.proyects-made{
  display: inline-block;
  margin: 10px 15px 10px 15px;
  padding: 10px 15px 10px 15px;
  width: 45%;
}
}

@media screen and (max-width: 880px) {
  .notice{
    margin: 0px 5px 25px 5px ;
    width: 90%;
  }
  .last-notice {
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    
  }
  .blog{
    margin: 5px 30PX 5px 30px;
    padding: 10px;
    width: 90%;
  }
  .more{
    display: inline-block;
    margin: 10px;
    letter-spacing: 5px;
    padding: 20px ;
    width: 40%;
  }
  .body-blogs{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .profile-2{
    margin: 0px;
    padding: auto;
  }
  .profile-title {
    word-spacing: 10px;
    font-size: 40px;
    padding: 30px;
    margin: 50px 20px 0px 20px;
  }
  .profile-descripcion {
    
    word-spacing: 10px;
    font-size: 20px;
    padding: 30px;
    margin: 50px 20px 0px 20px;
  }

}

@media screen and (max-width: 750px) {
  .profile{
    background-color: rgb(216, 212, 206);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
  }
  .blogs-last {
    padding: 10px;
    margin: 10px;
    max-width: 95%;
  }
  .blogs{
    margin: 15px;
  }
  .profile-title {
    word-spacing: 10px;
    font-size: 40px;
    padding: 0px 50px 50px 50px;
    margin: 0px 50px 0px 50px;
  }
  .profile-img{
    width: 90%;
    margin:0px 25px 25px 25px; 
    padding: auto;
  }
}


@media screen and (max-width: 680px) {
 
.profile{
  background-color: rgb(216, 212, 206);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px 50px 20px;
  height: 100%;
}
.profile-img{
  width: 90%;
  margin:25px 25px 25px 25px; 
  padding: auto;
}
.profile-title{
  width: 90%;
  
  padding: auto;
}
.profile-description{
  font-size: 30px;
  width: 90%;
  padding: auto;
}

.proyect{
  margin: auto;
  width: 95%;
}
.proyects-made{
  display: inline-block;
  margin: 20px 15px 20px 15px;
  padding: 20px 15px 20px 15px;
  width: 95%;
}
 
  
}

@media screen and (max-width: 460px) {
 

  .blogs{
    margin: 5px;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 100%;
  }
  .blogs-last {
    padding: 10px;
    margin: 10px;
    max-width: 95%;
  }
  .last-notice{
    width: 100%;
  }
  .nav-img{
    width: 80%;
  }
  .nav-logo{
    width: 60%;
    
  }
  .nav-link{
    width: 50%;
  }
  .nav-link a{
    display: inline-block;
   margin: 20px 0px 0px 30px;
   padding: auto;
    
  }
  .social-icons a {
    display: inline-block;
    margin: 10px 15px 10px 15px;
    color: white;
    width: 28px;
  }
    
  }